body {
    
}

.header {
    height: 500px;
    background: #1F2937;
    color: white;

}

.header-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    margin: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.placeholder {
    height: 250px;
    width: 300px;
}

.header-content {
    display: flex;
    justify-content: center;
    padding: 50px;
    align-items: center;
    gap: 30px;
}
/* https://en.wikipedia.org/wiki/File:Philadelphia_76ers_logo.svg */
.logo {
    width: 100px;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.header-left {
    font-size: 48px;
    margin: 20px;
}

.sub-text {
    font-size: 18px;
    margin-top: 15px;
    filter: contrast(0.75);
}

button {
    padding: 7px 20px;
    border-radius: 8px;
}

button.header-button {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    font-size: 18px;
    font-weight: 800;
}

.players {
    display: flex;
    flex-wrap: wrap;
}

/* Embiid: https://www.si.com/nba/2022/10/28/philadelphia-76ers-joel-embiid-james-harden-slow-start
Harden: https://www.sportsnet.ca/nba/article/report-76ers-star-james-harden-contemplates-return-to-rockets/
Maxey:  Creator: Bill Streicher Credit: Bill Streicher-USA TODAY Sports Copyright: Bill Streicher
Harris: https://thesixersense.com/2021/02/14/philadelphia-76ers-resurgence-tobias-harris/
Tucker: https://tribune.net.ph/2022/11/02/76ers-stripped-of-draft-picks/
*/

.embiid-img, .harden-img, .maxey-img, .harris-img, .tucker-img{
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    margin: 5px;
    border-radius: 10px;
}

.embiid, .harden, .maxey, .harris, .tucker {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.embiid,
.players {
    outline: 2px;
    outline-style: solid;
    outline-color: red;
}

